<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="card">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="user@email.com"
      name="email"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="******"
      name="password"
      ngModel
    />
  </div>
  <button type="submit">Login</button>
</form>
