<div *ngIf="shopListFlat.length" class="card">
  <h2>Shopping List</h2>

  <ul>
    <li *ngFor="let ingredient of shopListFlat">
      <div class="checkbox" [class]="{ 'crossed-out': ingredient.checked }">
        <label>
          <input
            type="checkbox"
            (change)="onCheck($event, ingredient.ing.id)"
          />
          <p>
            {{ ingredient.ing.name }} -
            {{ ingredient.ing.amount.value }}
            {{ ingredient.ing.amount.unit }}
          </p>
        </label>
      </div>
    </li>
  </ul>
</div>
