<form #form="ngForm" (ngSubmit)="submit(form)">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
      name="title"
      [(ngModel)]="recipeTitleInput"
    />
  </div>

  <div class="card">
    <ng-container #ingredientsFormList></ng-container>

    <button
      type="button"
      class="btn btn-primary"
      (click)="addNewIngredientForm()"
    >
      Add ingredient
    </button>
  </div>

  <div class="card">
    <ng-container #stepper></ng-container>

    <button type="button" class="btn btn-primary" (click)="addNewStep()">
      Add step
    </button>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
