<form>
  <div class="form-group">
    <label [for]="'ingredient' + id">Ingredient</label>
    <input
      type="text"
      class="form-control"
      [id]="'ingredient' + id"
      placeholder="Ingredient"
      (change)="onIngredientInput($event)"
    />
  </div>

  <div class="form-group">
    <label [for]="'value' + id">Ingredient</label>
    <input
      type="text"
      class="form-control"
      [id]="'value' + id"
      placeholder="Value"
      (change)="onValueInput($event)"
    />
  </div>
</form>
