<form class="form">
  <div class="form-group">
    <label [for]="'ingredient' + id">Ingredient</label>
    <input
      #ingredietnInputRef
      type="text"
      class="form-control"
      [id]="'ingredient' + id"
      placeholder="Ingredient"
      (change)="onIngredientInput($event)"
    />
  </div>

  <div class="form-group">
    <label [for]="'value' + id">Amount</label>
    <input
      #valueInputRef
      type="text"
      class="form-control"
      [id]="'value' + id"
      placeholder="Value"
      (change)="onValueInput($event)"
    />
  </div>

  <div class="form-group">
    <label [for]="'unit' + id">Unit</label>
    <select
      #unitSelectRef
      class="form-control"
      [id]="'unit' + id"
      (change)="onUnitSelect($event)"
    >
      <option *ngFor="let unit of units" [selected]="unit === defaultUnit">
        {{ unit }}
      </option>
    </select>
  </div>

  <button type="button" class="btn btn-danger" (click)="onDelete($event)">
    Delete
  </button>
</form>
