<form *ngIf="isLoggedIn" class="form">
  <div class="form-group">
    <label [for]="'ingredient' + id">Ingredient</label>
    <input
      #ingredietnInputRef
      type="text"
      class="form-control custom-select custom-select-sm"
      [id]="'ingredient' + id"
      placeholder="Ingredient"
      (input)="onIngredientInput($event)"
      [attr.list]="'ingredient' + id.split('-')[0]"
    />
    <datalist [id]="'ingredient' + id.split('-')[0]">
      <option *ngFor="let recipe of matchedIngredients" [value]="recipe.name">
        {{ recipe.name }}
      </option>
    </datalist>
  </div>

  <div class="form-group">
    <label [for]="'value' + id">Amount</label>
    <input
      #valueInputRef
      type="text"
      class="form-control"
      [id]="'value' + id"
      placeholder="Value"
      (change)="onValueInput($event)"
    />
  </div>

  <div class="form-group">
    <label [for]="'unit' + id">Unit</label>
    <select
      #unitSelectRef
      class="form-control"
      [id]="'unit' + id"
      [name]="unitSelect + id"
      [(ngModel)]="defaultUnit"
      (change)="onUnitSelect($event)"
    >
      <option *ngFor="let unit of units" [value]="unit">
        {{ unit }}
      </option>
    </select>
  </div>

  <button
    *ngIf="id"
    type="button"
    class="btn btn-danger"
    (click)="onDelete($event)"
  >
    Delete
  </button>

  <button
    *ngIf="isCustomIngredient && !isLoading"
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
  >
    Save
  </button>

  <span *ngIf="isLoading">Is Loading...</span>
</form>
